<h2>About Us</h2>
<p>We aim to serve millions of illiterate adults across the world by opening up the internet to them.</p>

<h2>Our services are under development!</h2>
<ul>
  
</ul>

<p>In the meantime, you can reach us on info@mauqa.online</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
